html{
    height: 100%;
}
body{
    background-image: linear-gradient(#0f8ba3,#10c1e4,#0f8ba3); 
    height: 100%; margin: 0; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}
.positionButton {
    width: flex;
    height: flex;
    border: none;
    font-size: 17px;
    padding: 10px 20px;
    border-radius: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.positionButton:active{
    width: flex;
    height: flex;
    border: none;
    font-size: 22px;
    padding: 10px 20px;
    background-color: #AFE1AF;
    border-radius: 10px;
    
}

.positionButton:focus {
    width: flex;
    height: flex;
    border: none;
    font-size: 22px;
    padding: 10px 20px;
    background-color: #AFE1AF;
    border-radius: 10px;
}


.wrapp {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #64b68d;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 400px;
    font-size: 14px;
    margin: auto;
    align-items: center;
}

.smallerWrapp {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #64b68d;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 100px;
    font-size: 14px;
    margin: auto;
    align-items: center;
}

.wrapp .radio {
    flex: 1 1 auto;
    text-align: center;
}

.wrapp .radio input {
    display: none;
}

.wrapp .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
}

.wrapp .radio input:checked + .name {
    background-color: #fff;
    font-weight: 800;
}

.wrappp {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #64b68d;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 400px;
    font-size: 14px;
    margin: auto;
    align-items: center;
}

.wrappp .radio {
    flex: 1 1 auto;
    text-align: center;
}

.wrappp .radio input {
    display: none;
}

.wrappp .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
}

.wrappp .radio input:checked + .name {
    background-color: #fff;
    font-weight: 800;
}

.inputField {
    border-radius: 5px; 
    padding: 7px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.inputField:focus {
    outline: none;
}